rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
      match /users/{usersId} {
          allow read: if true;
          allow create: if request.auth.uid != null;
      }
    
    	match /comment/{commentId} {
    			allow read: if true;
        	allow write, read: if request.auth.uid != null;
      }
      
      match /admin/{userId} {
      		allow read: if request.auth != null && request.auth.uid == userId;
          allow create, update, delete: if false;
      }
  }
}